:root {
  --white: hsl(0, 29%, 100%);
  --light-grey: hsl(0, 9%, 87%);
  --dark-grey: hsl(0, 0%, 59%);
  --very-dark-grey: hsl(0, 0%, 17%);
  --bg-mobile-pattern: url('/src/images/pattern-bg-mobile.png?as=webp');
  --bg-desktop-pattern: url('/src/images/pattern-bg-desktop.png?as=webp');
}

#app {
  font-family: 'Rubik', sans-serif;
}

.js-disabled {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
  z-index: 0;
}
